In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("BankChurners_proper.csv",na_values="Unknown")

In [3]:
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,NaN,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [4]:
df.shape

(10127, 20)

In [5]:
df.isna().sum()

Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status               749
Income_Category             1112
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1            0
Avg_Utilization_Ratio          0
dtype: int64

In [6]:
df.dropna(axis=0,inplace=True)

In [7]:
df.isna().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [8]:
df["Attrition_Flag"].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [9]:
labels ={"Attrition_Flag":{'Existing Customer':1, 'Attrited Customer':0}}

In [10]:
df.replace(labels,inplace=True)

C:\Users\dbda\AppData\Local\Temp\ipykernel_8012\1838260655.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(labels,inplace=True)

In [11]:
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,1,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
4,1,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,1,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311

In [12]:
df.dtypes

Attrition_Flag                int64
Customer_Age                  int64
Gender                       object
Dependent_count               int64
Education_Level              object
Marital_Status               object
Income_Category              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
Total_Ct_Chng_Q4_Q1         float64
Avg_Utilization_Ratio       float64
dtype: object

In [13]:
cols = df.select_dtypes("object").columns
df = pd.get_dummies(df,columns=cols)

In [14]:
df.shape

(7081, 35)

In [15]:
x = df.drop("Attrition_Flag",axis=1)
y = df["Attrition_Flag"]

In [16]:
#Std. Scaling
x_scaled = (x-x.mean())/x.std()

In [17]:
x.shape

(7081, 34)

In [18]:
#Train Test Split
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.3,random_state=117,stratify=y)

In [20]:
x_train_noscale,x_test_noscale,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=117,stratify=y)

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import classification_report

In [22]:
l = {"Logistic":LogisticRegression(random_state=117,max_iter=300,class_weight="balanced"),
     "GaussianNB":GaussianNB(),"BernoulliNB":BernoulliNB(),#"Multinomial":MultinomialNB(),
     "svc":SVC(random_state=7,kernel='rbf'),
     "KNN":KNeighborsClassifier(),
     "DT":DecisionTreeClassifier(class_weight="balanced")}

In [23]:
for k,v in l.items():
    model = v
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    print("\nClassification Report:",k)
    print(classification_report(y_test,y_pred))
else:
    model = MultinomialNB()
    model.fit(x_train_noscale,y_train)
    y_pred = model.predict(x_test_noscale)
    print("\nClassification Report: MultinomialNB")
    print(classification_report(y_test,y_pred))

Classification Report: Logistic
              precision    recall  f1-score   support

           0       0.48      0.83      0.61       334
           1       0.96      0.83      0.89      1791

    accuracy                           0.83      2125
   macro avg       0.72      0.83      0.75      2125
weighted avg       0.89      0.83      0.85      2125


Classification Report: GaussianNB
              precision    recall  f1-score   support

           0       0.55      0.58      0.57       334
           1       0.92      0.91      0.92      1791

    accuracy                           0.86      2125
   macro avg       0.74      0.75      0.74      2125
weighted avg       0.86      0.86      0.86      2125


Classification Report: BernoulliNB
              precision    recall  f1-score   support

           0       0.65      0.52      0.58       334
           1       0.91      0.95      0.93      1791

    accuracy                           0.88      2125
   macro avg       0.78      0.73      0.75      2125
weighted avg       0.87      0.88      0.88      2125


Classification Report: svc
              precision    recall  f1-score   support

           0       0.84      0.52      0.65       334
           1       0.92      0.98      0.95      1791

    accuracy                           0.91      2125
   macro avg       0.88      0.75      0.80      2125
weighted avg       0.91      0.91      0.90      2125


Classification Report: KNN
              precision    recall  f1-score   support

           0       0.76      0.30      0.43       334
           1       0.88      0.98      0.93      1791

    accuracy                           0.87      2125
   macro avg       0.82      0.64      0.68      2125
weighted avg       0.86      0.87      0.85      2125


Classification Report: DT
              precision    recall  f1-score   support

           0       0.82      0.78      0.80       334
           1       0.96      0.97      0.96      1791

    accuracy                           0.94      2125
   macro avg       0.89      0.87      0.88      2125
weighted avg       0.94      0.94      0.94      2125


Classification Report: MultinomialNB
              precision    recall  f1-score   support

           0       0.20      0.39      0.27       334
           1       0.86      0.71      0.78      1791

    accuracy                           0.66      2125
   macro avg       0.53      0.55      0.52      2125
weighted avg       0.76      0.66      0.70      2125