In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("BankChurners_proper.csv",na_values="Unknown")

In [5]:
df.head()

      Attrition_Flag  Customer_Age Gender  ...  Total_Trans_Ct Total_Ct_Chng_Q4_Q1 Avg_Utilization_Ratio
0  Existing Customer            45      M  ...              42               1.625                 0.061
1  Existing Customer            49      F  ...              33               3.714                 0.105
2  Existing Customer            51      M  ...              20               2.333                 0.000
3  Existing Customer            40      F  ...              20               2.333                 0.760
4  Existing Customer            40      M  ...              28               2.500                 0.000

[5 rows x 20 columns]

In [6]:
df.shape

(10127, 20)

In [7]:
df.isna().sum()

Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status               749
Income_Category             1112
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1            0
Avg_Utilization_Ratio          0
dtype: int64

In [8]:
df.dropna(axis=0,inplace=True)

In [9]:
df.isna().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [10]:
df["Attrition_Flag"].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [11]:
labels ={"Attrition_Flag":{'Existing Customer':1, 'Attrited Customer':0}}

In [12]:
df.replace(labels,inplace=True)

C:\Users\dbda\AppData\Local\Temp\ipykernel_4136\1838260655.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(labels,inplace=True)

In [13]:
df.head()

   Attrition_Flag  Customer_Age Gender  ...  Total_Trans_Ct Total_Ct_Chng_Q4_Q1 Avg_Utilization_Ratio
0               1            45      M  ...              42               1.625                 0.061
1               1            49      F  ...              33               3.714                 0.105
2               1            51      M  ...              20               2.333                 0.000
4               1            40      M  ...              28               2.500                 0.000
5               1            44      M  ...              24               0.846                 0.311

[5 rows x 20 columns]

In [14]:
df.dtypes

Attrition_Flag                int64
Customer_Age                  int64
Gender                       object
Dependent_count               int64
Education_Level              object
Marital_Status               object
Income_Category              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
Total_Ct_Chng_Q4_Q1         float64
Avg_Utilization_Ratio       float64
dtype: object

In [15]:
cols = df.select_dtypes("object").columns
df = pd.get_dummies(df,columns=cols)

In [16]:
df.shape

(7081, 35)

In [17]:
x = df.drop("Attrition_Flag",axis=1)
y = df["Attrition_Flag"]

In [18]:
#Std. Scaling
x_scaled = (x-x.mean())/x.std()

In [19]:
x.shape

(7081, 34)

In [20]:
#Train Test Split
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.3,random_state=117,stratify=y)

In [22]:
x_train_noscale,x_test_noscale,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=117,stratify=y)

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [29]:
#Random_Forest_Classifier
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(max_samples=0.8,random_state=117,oob_score=True)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.94      0.74      0.83       334
           1       0.95      0.99      0.97      1791

    accuracy                           0.95      2125
   macro avg       0.95      0.87      0.90      2125
weighted avg       0.95      0.95      0.95      2125